<h1>Editing match profile</h1>

<%= render "form", match_profile: @match_profile %>

<br>

<div>
  <%= link_to "Show this match profile", @match_profile %> |
  <%= link_to "Back to match profiles", match_profiles_path %>
</div>
